<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>courier | Landing, Responsive &amp; Business Templatee</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{'assets/img/favicons/apple-touch-icon.png' | theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{'assets/img/favicons/favicon-32x32.png' | theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{'assets/img/favicons/favicon-16x16.png' | theme }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{'assets/img/favicons/favicon.ico' | theme }}">
    <link rel="manifest" href="{{'assets/img/favicons/manifest.json' | theme }}">
    <meta name="msapplication-TileImage" content="{{'assets/img/favicons/mstile-150x150.png' | theme }}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{{'assets/css/theme.css' | theme }}" rel="stylesheet" />
    {% styles %}
  </head>


  <body>
  
    {% page %}

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{{'assets/vendors/@popperjs/popper.min.js' | theme }}"></script>
    <script src="{{'assets/vendors/bootstrap/bootstrap.min.js' | theme }}"></script>
    <script src="{{'assets/vendors/is/is.min.js' | theme }}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
    <script src="{{'assets/vendors/fontawesome/all.min.js' | theme }}"></script>
    <script src="{{'assets/js/theme.js' | theme }}"></script>
    {% scripts %}

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
  </body>

</html>